h1,h2,h3 {
    color: orangered !important;
    font-weight:  bolder !important;
}

label {
    color: orangered !important;
}

button {
    background-color: orangered !important;
    color: white !important;
    font-size: 18px !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.col-4 {
    background-color:black !important;
    color: white !important;
    height: 350px; 
    width: 200px; 
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 200px;
  }

  li {
      border: 2px solid white;
      border-right: none;
      width: 500px;
    margin-top: 50px;
    list-style-type: none;
  }

  li:hover {
      font-size: 26px;
      color:orangered;
      background-color: white;
  }

  /* .col-3 {
      margin-top: 30px;
  } */

  p {
      color: orangered !important;
      font-size: 20px;
      margin-left: -8px;
      
  }

  .card {
      margin-left: 100px;
  }

  .details{
      width: 500px;
    background-color: orangered !important;
    height: 90vh;
    color: white !important;
  }

  #post {
      margin-top: 30px;
  }
 
@media screen and
 (max-width : 700px){
    #heading,#heading2,#heading3 {
        font-size : 20px
    }
    #list1,#list2,#list3,#list4,#list5 {
        width : 200px,
    }
    .details {
        width: 250px;
    }
}